src/main/mule/dynamic-credentials.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:netsuite="http://www.mulesoft.org/schema/mule/netsuite"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/netsuite http://www.mulesoft.org/schema/mule/netsuite/current/mule-netsuite.xsd">
	<netsuite:config name="NetSuite_Config_Token_Authentication" doc:name="NetSuite Config" doc:id="808ecfab-fb49-40b5-afa0-628be5e2a140" >
		<netsuite:token-authentication-connection consumerKey="#[vars.consumerKey]" consumerSecret="#[vars.consumerSecret]" tokenId="#[vars.tokenID]" tokenSecret="#[vars.tokenSecret]" account="#[vars.netsuiteAccount]" />
	</netsuite:config>
	<http:listener-config name="Netsuite_Mulesoft" doc:name="HTTP Listener config" doc:id="d27a45b1-51b2-4c83-8a78-998a8f409396" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<http:listener-config name="Hubspot_Listener" doc:name="HTTP Listener config" doc:id="9a9aed7e-c860-4e10-a9cb-9e0626b2eed0" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	
	<http:request-config name="Hubspot_HTTP_Request_Config" doc:name="HTTP Request configuration" doc:id="55dc9f60-a30c-4a3e-844c-5b8b14350e1c" >
		<http:request-connection protocol="HTTPS" host="api.hubapi.com" />
	</http:request-config>
	<netsuite:config name="NetSuite_Config_UserName_Password_Config" doc:name="NetSuite Config" doc:id="cccf203d-2bdc-4252-82ee-13535095a9d3" >
		<netsuite:request-based-authentication-connection email="#[vars.netsuiteEmail]" password="#[vars.netsuitePassword]" account="#[vars.netsuiteAccount]" roleId="#[vars.netsuiteRoleID]" applicationId="#[vars.netsuiteAppID]" />
	</netsuite:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="e89a40f4-46a6-4f89-89dc-cbbbbf0145f6" >
		<salesforce:basic-connection username="#[vars.sfdcUsername]" password="#[vars.sfdcPassword]" securityToken="#[vars.sfdcToken]"/>
	</salesforce:sfdc-config>
	<flow name="sfdc-dynamic-acctFlow" doc:id="e5868e98-312d-4801-851c-c2b6151d0baf" >
		<http:listener doc:name="/salesforce" doc:id="1a6a52b6-f2c0-4525-8421-a5aaa7f9e75e" path="/salesforce" config-ref="Salesforce_Listener"/>
		<set-variable value="#[attributes.headers.name]" doc:name="Set Username" doc:id="66cd0bb1-979f-46ae-89cb-4bd2f5c1ce14" variableName="sfdcUsername"/>
		<set-variable value="#[attributes.headers.password]" doc:name="Set Password" doc:id="cb6ec8ea-9af9-4bc5-87e1-9037b3944f01" variableName="sfdcPassword"/>
		<set-variable value="#[attributes.headers.token]" doc:name="Set Token" doc:id="9d315088-d35e-4f1c-831a-47981455e10e" variableName="sfdcToken"/>
		<logger level="INFO" doc:name="Logger" doc:id="6b07f527-b56e-4bee-953a-c1a5bb2e1b12" message="#[vars.sfdcUsername]"/>
		<ee:transform doc:name="Transform Message" doc:id="9ab69a61-ad92-418a-831f-7368c9a78253" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="d108d8db-3f98-4d7e-b92a-a4bbc5c62fdc" config-ref="Salesforce_Config">
			<salesforce:salesforce-query >SELECT Email,FirstName,LastModifiedDate,LastName FROM Contact</salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="c5124d76-8617-4daa-b820-f7df05fb76ad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
			<http:listener-config name="Salesforce_Listener" doc:name="HTTP Listener config" doc:id="5f8a0fdd-21b7-4981-98ac-9f2e3df069db" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<flow name="netsuite-mulesoft-dynamic-credentials" doc:id="1fc02b43-144b-4528-a594-a32ad001f9f1">
		<http:listener doc:name="/netsuiteMulesoft" doc:id="1e1cdd16-d465-4c11-8e86-de0b3b687600" config-ref="Netsuite_Mulesoft" path="/netsuiteMulesoft" allowedMethods="GET" />
		<ee:transform doc:name="Transform Message" doc:id="089e3079-ebbc-49d7-9ce0-77fa3275fab1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="netsuiteEmail"><![CDATA[attributes.headers.netsuiteEmail]]></ee:set-variable>
				<ee:set-variable variableName="netsuitePassword"><![CDATA[attributes.headers.netsuitePassword]]></ee:set-variable>
				<ee:set-variable variableName="netsuiteAccount"><![CDATA[attributes.headers.netsuiteAccount]]></ee:set-variable>
				<ee:set-variable variableName="netsuiteRoleID"><![CDATA[attributes.headers.netsuiteRoleID]]></ee:set-variable>
				<ee:set-variable variableName="netsuiteAppID"><![CDATA[attributes.headers.netsuiteAppID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="fd1a3ef1-5ce2-4762-aa60-67dc114684c4" message="#[vars.sfdcUsername]" />
		<ee:transform doc:name="Transform Message" doc:id="5f8aed89-9e23-4d49-b260-96d40a5ea9ee">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	basic: {
		companyName: {
			operator: "STARTS_WITH",
			searchValue: attributes.queryParams.Name as String
		}
	}
} as Object {
	class : "com.mulesoft.connector.netsuite.extension.api.CustomerSearch"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<netsuite:search doc:name="Search Account" doc:id="e24b8ec5-b02d-4838-8a62-bc71748230d8" config-ref="NetSuite_Config_Token_Authentication" key="CUSTOMER" pageSize="100">
		</netsuite:search>
		<ee:transform doc:name="Transform Message" doc:id="1def1b40-7d0e-484d-a466-78180b17f534">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="hubspot-dynamic-credentials" doc:id="4fd38270-47b3-44a1-8903-3209f489eed0">
		<http:listener doc:name="/hubspot" doc:id="337daa55-e433-4df5-8020-2007b8d3ff05" config-ref="Hubspot_Listener" allowedMethods="GET" path="/hubspot" />
		<http:request method="GET" doc:name="Get List from Hubspot" doc:id="4967e5fc-cb03-4efe-9364-ba28edcdcf62" config-ref="Hubspot_HTTP_Request_Config" path="/crm/v3/objects/contacts">
			<http:query-params><![CDATA[#[output application/java
---
{
	archived : false,
	hapikey : attributes.queryParams.hapikey,
	limit : 10
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
